//FONTS
$font: "Ubuntu", sans-serif, Arial;
$fontSize: 14px;

//COLORS
$bg-color-light: #e5fcfa;
$bg-color-dark: #04127a;
$bg-popup-color-dark: #04106f;
$bg-area-color-light: rgb(249, 233, 206);
$bg-area-color-dark: rgb(60, 57, 41);

$font-color-primary-light: #030303;
$font-color-secondary-light: #515153;
$font-color-primary-dark: #b6f7f3;
$font-color-secondary-dark: #c7c7c7;

$btn-color-primary: #89f951;
$btn-color-secondary: #49d304;

//BORDER
$br: 8px;
