@import "../../styles/variables/variables.scss";

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  width: 270px;
  position: absolute;
  top: 50px;
  left: -50px;
  background-color: $bg-color-light;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: $br;

  &.dark {
    background-color: $bg-popup-color-dark;
  }
}

@media screen  and (max-width: 768px) {
  .contacts-wrapper {
    border-radius: 0;
    top: 65px;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 1px 0px $font-color-secondary-dark;
    background-color: $bg-area-color-light;

    &.dark {
      background-color: $bg-area-color-dark;
    }
  }
}
